<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ConfigurationSettings" type="SolidPriciples.Configuration1.ConfigurationSettings, SolidPriciples"/>
  </configSections>
  <system.web>

  </system.web>
  <ConfigurationSettings
     ApplicationName="Interface Segregation"
      AuthorName="Steve Smith"
      CacheDuration="60"
      DatabaseServerName="localhost"
      DatabaseName="Northwind"
      DatabaseUserName="ssmith"
      DatabasePassword="secret"
      WebServiceBaseUri="http://localhost/"
  />
</configuration>
